#header{
    margin-bottom: 1px;
    background-color: 00796b;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}



body{
    background-color: #E6E6FA
}

img{
    width: 93%;
    height: 9%;
    margin-left: 3%;
    margin-top: 0.3%;
    margin-bottom: 0%;
}



#contact{
    margin-top: 400 px;
    margin-left: 100 px;
    background-color: rgb(31, 61, 61);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



#footer{
    margin-bottom: 0%;
}